@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .react-calendar__navigation {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    color: #374151;
  }

  .react-calendar__navigation button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #10b981;
    padding: 0.5rem;
    border-radius: 8px;
    transition: all 0.2s ease;
  }

  .react-calendar__navigation button:hover {
    background-color: #ecfdf5;
  }

  .react-calendar__navigation button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .react-calendar__month-view__weekdays {
    background-color: #f9fafb;
    margin-bottom: 12px;
    padding: 8px 0;
    border-radius: 8px;
    font-weight: 500;
  }

  .react-calendar__month-view__weekdays__weekday {
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    color: #374151;
    padding: 4px;
  }

  .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
  }

  .react-calendar__tile {
    border-radius: 8px;
    height: 40px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #374151;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 2px;
    padding: 8px;
  }

  .react-calendar__tile:hover {
    border: #10b981 solid 1px;
  }

  .react-calendar__tile--active{
    background-color: #10b981;
    color: white;
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.3);
  }

  .react-calendar__tile--now {
    border: #10b981 solid 1px;
    font-weight: 600;
  }

  .react-calendar__tile:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }